# Environments
.env
*.env

# Logs
*.log

# Python
__pycache__/
venv/
*.pyc

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.pnp.*
.yarn/*

# Foundry
cache/
out/
broadcast/
deploy-config.json
foundry.toml.lock
